.pokemon {
  &__weather {
    &-wrapper {
      background-color: rgba(red, 0.2);
      width: 150px;
      height: 150px;
      border-radius: 10px;
      margin: auto;
      position: relative;
    }

    &-info {
      position: absolute;
      top: 50%;
      font-size: 3rem;
      left: 50%;
      transform: translate(-50%, -120%);
      color: white;
    }
  }

  &__mocktail {
    margin: 0 2rem;
    &-wrapper {
      backdrop-filter: blur(20px);
      width: 100%;
      
      padding: 0.5rem;
      border-radius: 10px;
      margin: auto;
      position: relative;
      border: 1px solid black;
    }

    &-info {
      font-size: 1.5rem;
      color: azure;
      width: 100%;

      justify-content: center;
    }
    &-p {
      font-size: 0.85rem;
      color: azure;
    }
  }

  &__image {
    padding: 2rem 0rem;
  }
}
.content {
  backdrop-filter: blur(20px);
  font-size: 0.85rem;
  color: azure;
  width: 100%;
  padding: 0 2rem;
}
.marquee-content {
  display: flex;
  animation: scrolling 100s linear infinite;
}

.marquee-item {
  flex: 0 0 20rem;
  // margin: 0 2rem;
  // backdrop-filter: blur(20px);

  background-color: rgba(black, 0.4);
  // width: 80px;
  // height: 70px;
  // border-radius: 10px;
  padding: 0 10px;
}

.marquee-item img {
  // display: block;
  // width: 100%;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translatex(-3000vw);
  }
}
